
{% block body %}
    <h2>Update Listing</h2>
    <form action="{% url 'update_listing' listing_id=listing_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="title" value="{{ object.title }}" placeholder="Title">
            <input type="text" name="description" value="{{ object.description }}" placeholder="Description">
            <input type="text" name="category" value="{{ object.category }}" placeholder="Category">
            <input type="number" name="starting_bid" value="{{ object.starting_bid }}" placeholder="Starting Bid">
            <input type="datetime-local" name="end_time" value="{{ object.end_time|date:'Y-m-d\TH:i' }}" placeholder="End Time">
            <input type="file" name="image" accept="image/*">
            <input type="submit" value="Submit">
    </form>
{% endblock %}
